* {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    
    font-family: "Roboto Mono", monospace, sans-serif;
    font-size: 22px;
}

.logo{
    margin-left: 10px;
    padding-top: 10px;
    width: 2%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
    align-items: center;
}
    

.titulo-principal{
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    line-height: 150%;
    padding: 15px;
}

.container {
   height: 76vh;
}

.text-area{
    border: none;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder {
    color: white;
    opacity: 0.5;
    .text-area:focus {
        outline: none;
    }
}

.mensagem {
    flex-direction: column;
    text-align: center;
}

.btn-criptografar, .btn-descriptografar, .btn-limpar, .btn-copiar {
    width: 6.5rem;
    height: 1.5rem;
    margin: 1rem;
    background-color: aquamarine;
    border: 2px dotted white;
    cursor: pointer;
    border-radius: 2rem;
    font-size: 16px;
}



footer {
    height: 30px; 
    background-color: black;
}